option: function(data, escape) {

    {% if widget.is_tabular %}
        let columns = ''

        if (this.settings.showValueField === true) {
            columns = `<div class="col">${data[this.settings.valueField]}</div>
                       <div class="col">${data[this.settings.labelField]}</div>`
        } else {
            columns = `<div class="col">${data[this.settings.labelField]}</div>`
        }

        for (const c of this.settings.extraColumns) {
            columns += `<div class="col">${escape(data[c] || '')}</div>`
        }
        return `<div class="row">${columns}</div>`
    {% else %}
        return '<div>' + escape(data.{{ widget.label_field }}) + '</div>';
    {% endif %}
},