<select name="{{ widget.name }}" id="{% if 'id' in widget.attrs.keys and widget.attrs.id %}{{ widget.attrs.id }}{% else %}{{ widget.name }}{% endif %}"{% include "django/forms/widgets/attrs.html" with widget=widget %}></select>


<script>
    {% if not widget.use_htmx %}
    document.addEventListener("DOMContentLoaded", function(e) {
    {% endif %}

        let wasReset{{ widget.name }} = false;

        function logCallback(data) {
            console.log("%c Received callback data:", data, "color:red;");
        }

        let originalFirstUrl = function(query) {
            let url = '{{ widget.autocomplete_url }}' + '?q=' + encodeURIComponent(query);
            {% if "dependent_field" in widget.keys %}
                const dependentField = document.getElementById('id_{{ widget.dependent_field }}');
                const dependentValue = dependentField ? dependentField.value : '';
                url = `${url}&f='{{ widget.dependent_field }}__{{ widget.dependent_field_lookup }}=${dependentValue}'`;
            {% endif %}
            {% if "exclude_field" in widget.keys %}
                const excludeField = document.getElementById('id_{{ widget.exclude_field }}');
                const excludeValue = excludeField ? excludeField.value : '';
                url = `${url}&e='{{ widget.exclude_field }}__{{ widget.exclude_field_lookup }}=${excludeValue}'`;
            {% endif %}
            return url;
        };

        var {{ widget.name }} = new TomSelect('#{% if 'id' in widget.attrs.keys and widget.attrs.id %}{{ widget.attrs.id }}{% else %}{{ widget.name }}{% endif %}',{
            valueField: '{{ widget.value_field }}',
            labelField: '{{ widget.label_field }}',
            searchField: [],  // Not using built-in search

            highlight: {% if widget.general_config.highlight %}true{% else %}false{% endif %},
            openOnFocus: {% if widget.general_config.open_on_focus %}true{% else %}false{% endif %},
            maxOptions: {% if widget.general_config.max_options %}{{ widget.general_config.max_options }}{% else %}null{% endif %},
            preload: {% if widget.general_config.preload == "focus" %}'focus'{% elif widget.general_config.preload %}true{% else %}false{% endif %},
            maxItems: {% if not widget.is_multiple %}1{% else %}{% if widget.general_config.max_items %}{{ widget.general_config.max_items }}{% else %}null{% endif %}{% endif %},
            showValueField: {% if 'dropdown_header' in widget.plugins.keys and widget.plugins.dropdown_header.show_value_field %}true{% else %}false{% endif %},
            create: {% if widget.general_config.create %}true{% else %}false{% endif %},
            {#createFilter: {% if widget.general_config.create_filter %}{{ widget.general_config.create_filter }}{% else %}null{% endif %},#}

            plugins: {
                {% if 'checkbox_options' in widget.plugins.keys and widget.plugins.checkbox_options %}
                    checkbox_options: true,
                {% endif %}

                {% if 'clear_button' in widget.plugins.keys %}
                    clear_button:{
                        title: '{% if widget.plugins.clear_button.title %}{{ widget.plugins.clear_button.title }}{% else %}Clear All{% endif %}',
                        className: '{{ widget.plugins.clear_button.class_name }}',
                        {% include "django_tomselect/render/clear_button.html" with widget=widget %}
                    },
                {% endif %}

                {% if 'dropdown_header' in widget.plugins.keys %}
                    dropdown_header:{
                        title: '{% if widget.plugins.dropdown_header.title %}{{ widget.plugins.dropdown_header.title }}{% else %}Select an option{% endif %}',
                        headerClass: '{{ widget.plugins.dropdown_header.header_class }}',
                        {% include "django_tomselect/render/dropdown_header.html" with widget=widget %}
                    },
                {% endif %}

                {% if 'dropdown_footer' in widget.plugins.keys %}
                    dropdown_footer:{
                        title: '{% if widget.plugins.dropdown_footer.title %}{{ widget.plugins.dropdown_footer.title }}{% else %}Select an option{% endif %}',
                        footerClass: '{{ widget.plugins.dropdown_footer.footer_class }}',
                        {% include "django_tomselect/render/dropdown_footer.html" with widget=widget %}
                    },
                {% endif %}

                {% if 'dropdown_input' in widget.plugins.keys and widget.plugins.dropdown_input %}
                    dropdown_input: true,
                {% endif %}

                {% if 'remove_button' in widget.plugins.keys %}
                    remove_button:{
                        label: '{% if widget.plugins.remove_button.label %}{{ widget.plugins.remove_button.label|safe }}{% else %}&times;{% endif %}',
                        title: '{% if widget.plugins.remove_button.title %}{{ widget.plugins.remove_button.title }}{% else %}Remove this item{% endif %}',
                        className: '{{ widget.plugins.remove_button.class_name }}',
                    },
                {% endif %}

                virtual_scroll: true
            },

            {% if widget.value %}
                onInitialize: function() {
                    {% for option in widget.selected_options %}
                        this.addOption({
                            {{ widget.value_field }}: '{{ option.value }}',
                            {{ widget.label_field }}: '{{ option.label }}'
                        });
                        this.addItem('{{ option.value }}');
                    {% endfor %}
                },
            {% endif %}

            shouldLoad:function(query){
                var shouldLoadValue;
                if (this.settings.page && (!query.trim() || query === undefined)) {
                    shouldLoadValue = true; // Load next page if we are paginating and the query is empty
                } else {
                    shouldLoadValue = query.length >= {{ widget.general_config.minimum_query_length }};
                }
                return shouldLoadValue;
            },

            firstUrl: originalFirstUrl,

            getUrl: function(query) {
                let url = this.settings.pagination[query] || this.settings.firstUrl(query);
                return url;
            },

            load: function(query, callback) {
                // retrieve the appropriate url
                let url = this.getUrl(query);

                if (wasReset{{ widget.name }} === true) {
                    url = originalFirstUrl(query);
                }

                fetch(url)
                    .then(response => response.json())
                    .then(json => {
                        if (json.has_more) {
                            url = url.replace(/&p=\d+/g, '');
                            {% if "dependent_field" in widget.keys or "exclude_field" in widget.keys %}
                                if (wasReset{{ widget.name }} === false) {
                                    // remove an `p=` parameter from the url
                                    this.setNextUrl(query, url + '&p=' + (json.page + 1));
                                } else {
                                    wasReset{{ widget.name }} = false;
                                    this.setNextUrl(query, url + '&p=1');
                                }
                            {% else %}
                                // remove an `p=` parameter from the url
                                this.setNextUrl(query, url + '&p=' + (json.page + 1));
                            {% endif %}
                        }

                        // Workaround for an issue of the virtual scroll plugin
                        // where it scrolls to the top of the results whenever
                        // a new page of results is added.
                        // https://github.com/orchidjs/tom-select/issues/556
                        const _scrollToOption = this.scrollToOption;
                        this.scrollToOption = () => {};

                        callback(json.results);
                        this.scrollToOption = _scrollToOption;
                    }).catch(() => {
                        console.log('%c Error loading data for {{ widget.name }}, url=', url, "color:red;");
                        callback();
                    })
            },

            render:{
                {% include "django_tomselect/render/item.html" with widget=widget %}
                {% include "django_tomselect/render/loading.html" with widget=widget %}
                {% include "django_tomselect/render/loading_more.html" with widget=widget %}
                {% include "django_tomselect/render/no_more_results.html" with widget=widget %}
                {% include "django_tomselect/render/no_results.html" with widget=widget %}
                {% include "django_tomselect/render/not_loading.html" with widget=widget %}
                {% include "django_tomselect/render/option.html" with widget=widget %}
                {% include "django_tomselect/render/option_create.html" with widget=widget %}
            }
        });

        // Add a change handler that takes a `value`
        var change_handler = function(value) {
            const dependentValue = value;  // ToDo: Deprecated

            const tomSelect = {{ widget.name }};
            {% if "dependent_field" in widget.keys %}
                const lookupField = '{{ widget.dependent_field }}__{{ widget.dependent_field_lookup }}';
            {% elif "exclude_field" in widget.keys %}
                const lookupField = '{{ widget.exclude_field }}__{{ widget.exclude_field_lookup }}';
            {% endif %}

            // Clear selections and existing options
            tomSelect.clear();
            tomSelect.clearOptions();
            tomSelect.clearCache();

            // Reset the pagination state
            tomSelect.settings.pagination = {};

            // Reset scroll position
            if (tomSelect.dropdown_content) {
                tomSelect.dropdown_content.scrollTop = 0;
            }

            // Reset the first URL
            tomSelect.settings.firstUrl = originalFirstUrl;
            tomSelect.settings.setNextUrl = originalFirstUrl;

            // Load fresh data
            //tomSelect.getUrl;
            tomSelect.clearPagination();  // See https://github.com/orchidjs/tom-select/pull/582/ (not yet documented)
            tomSelect.load('', logCallback);

            wasReset{{ widget.name }} = true;
        };

        {% if "dependent_field" in widget.keys %}
            const dependentField = document.getElementById('id_{{ widget.dependent_field }}');
            if (dependentField) {
                dependentFieldTomselect = dependentField.tomselect;
                dependentFieldTomselect.on('change', change_handler);
            }
        {% endif %}
        {% if "exclude_field" in widget.keys %}
            const excludeField = document.getElementById('id_{{ widget.exclude_field }}');
            if (excludeField) {
                excludeFieldTomselect = excludeField.tomselect;
                excludeFieldTomselect.on('change', change_handler);
            }
        {% endif %}


    {% if not widget.use_htmx %}
    });
    {% endif %}

</script>
