{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Tom Select Demo</title>
    <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'bootswatch/dist/flatly/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
    {{ form.media }}
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>

</head>
<body>
<div class="container">
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
</body>
</html>
